DB_HOST = "mongodb+srv://funniestdev730:yuriking1996730@cluster0.0u997bj.mongodb.net/sports"
JWT_SECRET = "secret"
PORT = 5000
NBA_API_KEY = "56a9vtk9x64eaqtgh2yuqu2d"
NBA_API_BASEURL = "https://api.sportradar.us/nba/trial/v8"
NBA_API_BASEURLDRFT = "https://api.sportradar.us/draft/nba/trial/v1"
NBA_API_LOCALE = "en"